body{
  background: linear-gradient(#ffdb58,#ffdb58,white, white, white );
}
form {
color: black;
background-color: white;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 15px;
padding: 30 px 50 px;
border-radius: 27 px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sticky{
  font-size: 17px;
}
#header{
position: fixed; /* Fixed position - sit on top of the page */
transition: 0.2s; /* a transition effect (when scrolling - and font size is decreased) */
}
h1 {

background-color: #ffdb58;

}
h2 {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 15px;
}

.form-group {
width: 400px;
margin: 0 auto;


}

.form-inline {
margin: 0 auto;
display: inline-block;
margin-bottom: 10px;

}

.button {
text-align: center;

}

.form-control {

margin-bottom: 20px;
}
